[submodule "submodules/infra"]
	path = submodules/infra
	url = git@github.com:bigswitch/arista-infra
[submodule "submodules/bigcode"]
	path = submodules/bigcode
	url = git@github.com:bigswitch/arista-bigcode
[submodule "submodules/loxigen-artifacts"]
	path = submodules/loxigen-artifacts
	url = git@github.com:bigswitch/loxigen-artifacts.git
